:root {

  /* CORES PRINCIPAIS */

  --color-red: #E3646E;
  --color-purple: #BB72E9;
  --color-blue: #3996DB;
  --color-green: #82BC4F;
  --color-yellow: #EABD5F;

  /* CORES BASE */
  --color-gray100: #E2E4E9;
  --color-gray200: #C0C4CE;
  --color-gray300: #878ea1;
  --color-gray400: #292c34;
  --color-gray500: #16181d;
  --color-gray600: #0d0e11;

}




